html {
  background-image: linear-gradient(to bottom, #ff9500, #ff5e3a);
  color: #fff;
  font-family: Overpass, sans-serif;
}

svg {
  color: #fff;
}

.btn {
  color: #fff;
  border-color: #fff;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 1);
  border-color: #fff;
  color: #ff5e3a;
}

@media only screen and (max-width: 60em) {
  body {
    margin: auto;
  }
}
